<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= this.packageInfo.description + ' ' + this.packageInfo.version ?> - <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/bootstrap-baqend.min.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="/"><img src="img/baqend_logo.svg"></a>
        </div>

        <!-- Expanded navigation -->
        <div id="nav" class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
                <li>
                    <a href="http://dashboard.baqend.com/">Dashboard</a>
                </li>

                <!-- Guide Navigation -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guide <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.baqend.com/guide/">Home</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/overview/">Overview</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/dashboard/">Dashboard</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/cli/">CLI</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/setup/">Setup</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/crud/">CRUD</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/schema/">Schema and Types</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/queries/">Queries</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/realtime/">Real-Time Queries</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/user-management/">User Management</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/baqend-code/">Baqend Code</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/push/">Push Notifications</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/deep-loading/">Deep Loading</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/hosting/">Hosting</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/files/">Files</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/caching/">Caching</a></li>
                        <li><a href="http://www.baqend.com/guide/topics/logging/">Logging</a></li>
                    </ul>
                </li>

                <!-- Starter Kits -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Starter Kits <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.baqend.com/guide/starter-kits/">Starter Kits Overview</a></li>
                        <li><a href="http://www.baqend.com/guide/starter-kits/angular2/">Angular 2 Starter Kit</a></li>
                        <li><a href="http://www.baqend.com/guide/starter-kits/react/">React and Redux Starter Kit</a></li>
                        <li><a href="http://www.baqend.com/guide/starter-kits/bootstrap/">Bootstrap Starter Kit</a></li>
                        <li><a href="http://www.baqend.com/guide/starter-kits/ionic2/">Ionic 2 Starter Kit</a></li>
                        <li><a href="http://www.baqend.com/guide/starter-kits/ionic/">Ionic Starter Kit</a></li>
                    </ul>
                </li>

                <li class="active">
                    <a href="baqend.html">JS API</a>
                </li>
                <li>
                    <a href="http://www.baqend.com/#tutorial">Tutorial</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="bs-sidebar hidden-print fixed affix" role="complementary">
            <input class="filter form-control input-sm" type="text" placeholder="FILTER"/>

            <ul class="nav bs-sidenav">
            <?js self = this; ?>
            <?js Object.keys(self.nav).sort().forEach(function(key, index) { ?>
                <?js if (!key) { ?>
                    <?js self.nav[key].forEach(function(item) { ?>
                        <li class="<?js= item.longname == active? 'active': '' ?>"><?js= self.linkto(item.longname, item.name, 'nav-name') ?></li>
                    <?js }) ?>
                <?js } else { ?>
                    <li class="<?js= nav == key? 'active': '' ?>">
                        <?js= self.linkto(key, key, 'nav-name') ?>
                        <ul class="nav">
                          <?js self.nav[key].forEach(function(item) { ?>
                            <li class="<?js= item.longname == active? 'active': '' ?>"><?js= self.linkto(item.longname, item.name, 'nav-name') ?></li>
                          <?js }) ?>
                        </ul>
                    </li>
                <?js } ?>
            <?js }) ?>
            </ul>
        </div>
    </div>
    <div class="col-md-9" id="main">
      <h1 class="page-title"><?js= title ?></h1>

      <?js= content ?>

      <footer>
        <?js= this.packageInfo.description + ' ' + this.packageInfo.version ?> &copy 2015 Baqend GmbH<br>
        Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date().toUTCString()) ?>
      </footer>
    </div>
  </div>
</div>

<script> prettyPrint(); </script>
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="scripts/bootstrap.min.js"> </script>
<script src="scripts/linenumber.js"> </script>
<script src="scripts/filter.js"> </script>
</body>
</html>
