<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= this.packageInfo.description + ' ' + this.packageInfo.version ?> - <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/bootstrap-baqend.min.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="/"><img src="img/baqend_logo.svg"></a>
        </div>

        <!-- Expanded navigation -->
        <div id="nav" class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
                <li>
                    <a href="http://www.baqend.com/guide/index.html">Guide</a>
                </li>
                <li class="active">
                    <a href="baqend.html">JS API</a>
                </li>
                <li>
                    <a href="http://www.baqend.com/#tutorial">Tutorial</a>
                </li>
                <li>
                    <a href="http://dashboard.baqend.com/">Dashboard</a>
                </li>
                <li>
                    <a href="https://community.baqend.com/">Community <span class="visible-lg-inline">Forum</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="bs-sidebar hidden-print fixed affix" role="complementary">
            <input class="filter form-control input-sm" type="text" placeholder="FILTER"/>

            <ul class="nav bs-sidenav">
            <?js self = this; ?>
            <?js Object.keys(self.nav).sort().forEach(function(key, index) { ?>
                <?js if (!key) { ?>
                    <?js self.nav[key].forEach(function(item) { ?>
                        <li class="<?js= item.longname == active? 'active': '' ?>"><?js= self.linkto(item.longname, item.name, 'nav-name') ?></li>
                    <?js }) ?>
                <?js } else { ?>
                    <li class="<?js= nav == key? 'active': '' ?>">
                        <?js= self.linkto(key, key, 'nav-name') ?>
                        <ul class="nav">
                          <?js self.nav[key].forEach(function(item) { ?>
                            <li class="<?js= item.longname == active? 'active': '' ?>"><?js= self.linkto(item.longname, item.name, 'nav-name') ?></li>
                          <?js }) ?>
                        </ul>
                    </li>
                <?js } ?>
            <?js }) ?>
            </ul>
        </div>
    </div>
    <div class="col-md-9" id="main">
      <h1 class="page-title"><?js= title ?></h1>

      <?js= content ?>

      <footer>
        <?js= this.packageInfo.description + ' ' + this.packageInfo.version ?> &copy 2015 Baqend GmbH<br>
        Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date().toUTCString()) ?>
      </footer>
    </div>
  </div>
</div>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
<script src="scripts/filter.js"> </script>
</body>
</html>
