<?js
var data = obj;
var self = this;
?>

<?js if (data.kind === 'package') { ?>
    <h2 style="margin-left: 0"><?js= data.name ?> <?js= data.version ?></h2>
    <p>To install, embed our CDN-hosted Baqend SDK script into your page.</p>
    <pre>&lt;script src="//www.baqend.com/js-sdk/<?js= data.version ?>/baqend.min.js"&gt;&lt;/script&gt;</pre>
<?js } ?>


<?js if (data.readme) { ?>
    <section>
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>
